@import "tailwindcss";

@theme {
	--background-color: hsl(220, 33%, 98%);
	--main-color: hsl(213, 98%, 60%);
	--secondary-color: hsl(140, 68%, 60%);
	--gradient-primary: linear-gradient(
		135deg,
		hsl(142 76% 36%),
		hsl(166 76% 46%)
	);
	--gradient-accent: linear-gradient(
		135deg,
		hsl(195 100% 85%),
		hsl(210 100% 90%)
	);
	--gradient-secondary: linear-gradient(
		135deg,
		hsl(210 100% 56%),
		hsl(210 100% 70%)
	);
	--outer-radius: 24px;
	--inner-radius: 16px;
}

@layer base {
	* {
		box-sizing: border-box;
		outline: none;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: "Cairo", system-ui, sans-serif;
		@apply scroll-smooth;
	}

	body {
		overflow-x: hidden !important;
		margin: 0;
		padding: 0;
		background-color: var(--background-color);
		position: relative;
		color: hsl(215, 23%, 26%);
		caret-color: var(--main-color);
	}

	::-webkit-scrollbar {
		@apply w-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--main-color);
		@apply rounded;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #b93d13;
	}

	img {
		max-width: 100%;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	.yellow {
		color: yellow;
	}

	.grey {
		color: rgba(128, 128, 128, 0.534);
	}

	.testmonials {
		background-image: linear-gradient(135deg,
				#1F8FFD,
				#48DB83);
	}

	.testmonial-card {
		transition: all 0.5s ease-in-out;
	}

	.testmonial-card:hover {
		transform: scale(1.1);
	}

}

@layer utilities {
	.container {
		@apply w-full mx-auto px-2;
	}
}